@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">College Basketball Hobby Page!</h1>
    <br />
    <img src="~/images/gu.png" alt="Description">
    <br />
    <br />
    <div class="container text-center" style="max-width: 32rem;">
        <p>Hello! Welcome to my college basketball hobby page. I love college basketball. My dad went to Gonzaga University in Spokane Washington, so I have vivid memories of watching the Zags play growing up. 
            I have always loved watching the sport, but over the past few years, I have become increasingly interested in college basketball stats and analytics. I frequent websites such as
            <a href="https://kenpom.com" target="_blank">KenPom.com</a> and <a href="https://evanmiya.com" target="_blank">EvanMiya.com</a> to analyze teams and their advanced analytics.
        </p>
        <br />
        <p>
            I have many great memories watching college basketball, but the one that comes to mind most is Julian Strawther's 30 foot three ball against UCLA in the 2023 March Madness Sweet 16.
            Strawther's shot, hit with only a few seconds left on the clock, ultimately decided the game and sent the Zags back to the Elite 8. 
            Click <a href="https://www.ncaa.com/video/basketball-men/2023-03-24/3-pointer-julian-strawther-202320668" target="_blank">here</a> to watch the video, and check out this image below:
        </p>
    </div>
    <br />
    <br />
    <div class="container text-center">
        <img src="~/images/strawther.jpg" alt="Description" class="img-fluid w-50">
    </div>
</div>