@{
    ViewData["Title"] = "About";
}
<!--About page with links to Joel's stuff.-->
<h1>Get to Know Joel!</h1>
<p>Joel frequently performs at <a href="https://www.qwcomedy.com/" target=”_blank”>Quick Wits Comedy</a></p>
<p>Joel also is a podcaster. His podcast, <a href="https://baconsale.com/" target="_blank">Baconsale</a> is about Movies.</p>
<a href="https://baconsale.com/" target=”_blank”><img src="~/images/BaconsaleKate.jpg" alt="Photo of the BaconSale Team" height="500" /></a>
