@{
    ViewData["Title"] = "Home Page";
}

<!--Home page, contains a picture of Joel and the title.-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
	<img src="~/images/joelhiltonheadshot.jpg" />
</div>

